:root {
    --primary-color: #ffffff;
    --primary-dark-contrast: #0A0A0A;
    --primary-light-contrast: #ffffff;
  
    --accent-color: #5d5d5d;
    --accent-lighter-color: #cecece;
    --accent-darker-color: #414141;

    --color-core-foreground: #0A0A0A;
    --color-core-background: #1F1F1F;
    --color-neutral-content-onSource: #0A0A0A;

    --support-20: #00B5CC;
    --support-30: #B2DF28;
    --color-neutral-content: #A4A4A4;
    --color-core-border: #3D3D3D;
    --color-core-content-low: #A4A4A4;
    --color-core-content: #FAFAFA;

}