:root {
    --measure-spacing-null: 0px;
    --measure-spacing-xxxs: 2px;
    --measure-spacing-xxs: 4px;
    --measure-spacing-xs: 8px;
    --measure-spacing-s: 12px;
    --measure-spacing-m: 16px;
    --measure-spacing-l: 24px;
    --measure-spacing-xxxl: 48px;
}